.__footer{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    align-items: center;
    background-color: rgb(134 133 179);
    color: black;
    
    .__copyright{
        color: black;
        font-weight: 700;
        font-size: 1.2em;
    }
    .links{
        display: flex;
        flex-direction: row;
        gap: 0.5em;
        .link{
            cursor: pointer;
            border-bottom: 2px solid transparent;
            transition: ease-in-out 0.5s all;
            &:hover{
                border-bottom: 2px solid rgb(30, 33, 205);
                color: rgba(30, 56, 205, 0.526);
            }

        }
    }
    .__about{
        display: flex;
        flex-direction: column;
        gap: 0.2em;
        align-items: center;
        p{

        }
    }
}
